html {
  font-size: 100%; //accesibility
  box-sizing: border-box; //when we add padding it uses the total space
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
  font-family: --var(--font-overpass);
}
